In [ ]:
1. Create a list called years_list, starting with the year of your birth, and 
    each year thereafter until the year of your fifth birthday. 
    For example, if you were born in 1980. the list would be 
    years_list = [1980, 1981, 1982, 1983, 1984, 1985].
2. In which year in years_list was your third birthday? Remember, you were 0 years of age
   for your first year.
3. In the years list, which year were you the oldest?
4. Make a list called things with these three strings as 
     elements: "mozzarella", "cinderella", "salmonella".
5. Capitalize the element in things that refers to a person and then print the list. 
    Did it change the element in the list?
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
8. Make an English-to-French dictionary called e2f and print it. 
    Here are your starter words: dog is chien, cat is chat, and walrus is morse.
9. Write the French word for walrus in your three-word dictionary e2f.
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
11. Print the English version of the French word chien using f2e.
12. Make and print a set of English words from the keys in e2f.
13. Make a multilevel dictionary called life.
    Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
    Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
    Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
    Make all the other keys refer to empty dictionaries.
14. Print the top-level keys of life.
15. Print the keys for life['animals'].
16. Print the values for life['animals']['cats']

In [2]:
"""
1. Create a list called years_list, starting with the year of your birth, and 
    each year thereafter until the year of your fifth birthday. 
    For example, if you were born in 1980. the list would be 
    years_list = [1980, 1981, 1982, 1983, 1984, 1985].
"""
"""
1.Answer)
"""
#years_list=[1996,1997,1998,1999,2000,2001]
years_list=[1996+i for i in range(6)]
print(years_list)

[1996, 1997, 1998, 1999, 2000, 2001]

In [3]:
"""
2. In which year in years_list was your third birthday? Remember, you were 0 years of age
   for your first year.
"""

"""
2.Answer) 1999
"""
years_list[3]

1999

In [4]:
"""
3. In the years list, which year were you the oldest?
"""
"""
3.Answer) 2001
"""
years_list[-1]

2001

In [5]:
"""
4. Make a list called things with these three strings as 
     elements: "mozzarella", "cinderella", "salmonella".
"""
"""
4.Answer)
    elements=["mozzarella", "cinderella", "salmonella"]
"""
elements=["mozzarella", "cinderella", "salmonella"]

In [6]:
"""
5. Capitalize the element in things that refers to a person and then print the list. 
    Did it change the element in the list?
"""
"""
5.Answer)

    elements[1].capitalize() #cinderella refers to a person 
    No the element of the list is not changed

"""
print(elements[1].capitalize())
print(elements)

Cinderella
['mozzarella', 'cinderella', 'salmonella']

In [7]:
"""
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
"""
"""
6.Answer)
"""
surprise_list=["Groucho","Chico", "Harpo"]

In [8]:
"""
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
"""
"""
7.Answer)
    surprise_list[-1].lower()[::-1].capitalize()
"""
surprise_list[-1].lower()[::-1].capitalize()

'Oprah'

In [9]:
"""
8. Make an English-to-French dictionary called e2f and print it. 
    Here are your starter words: dog is chien, cat is chat, and walrus is morse.
"""
"""
8.Answer)
"""
e2f={"dog":"chien","cat":"chat","walrus":"morse"}

In [10]:
"""
9. Write the French word for walrus in your three-word dictionary e2f.
"""
"""
9.Answer) e2f['walrus']
"""
e2f['walrus']

'morse'

In [11]:
"""
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
"""
"""
10.Answer)
    f2e= {j:i for (i,j) in e2f.items()}
"""
f2e= {j:i for (i,j) in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [12]:
"""
11. Print the English version of the French word chien using f2e.
"""
"""
11.Answer)
"""
print(f2e['chien'])

dog

In [15]:
"""
12. Make and print a set of English words from the keys in e2f.
"""
"""
12.Answer)
"""
print(set(e2f.keys()))

{'walrus', 'dog', 'cat'}

In [16]:
"""
13. Make a multilevel dictionary called life.
    Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
    Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
    Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
    Make all the other keys refer to empty dictionaries.
"""
"""
13.Answer)
    life={'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':{},'emus':{}},'plants':{},'other':{}}
"""
life={'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':{},'emus':{}},'plants':{},'other':{}}

In [17]:
"""
14. Print the top-level keys of life.
"""
"""
14.Answer)
"""
for i in life.keys():
    print(i)

animals
plants
other

In [18]:
"""
15. Print the keys for life['animals'].
"""
"""
15.Answer)
"""
for i in life['animals'].keys():
    print(i)

cats
octopi
emus

In [19]:
"""
16. Print the values for life['animals']['cats']
"""
"""
16.Answer)
"""
for i in life['animals']['cats']:
    print(i)

Henri
Grumpy
Lucy