In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and
    save test1 to a file named test.txt.
2. Read the contents of the file test.txt into the variable test2.
    Is there a difference between test 1 and test 2?
3. Create a CSV file called books.csv by using these lines:
    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, 
    and a table called books with these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that 
    you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
    Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). 
    Print all the fields for test.
10. Increment the count field of test and print it.

In [2]:
"""
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and
    save test1 to a file named test.txt.
"""
"""
1.Answer)
"""
test1='This is a test of the emergency text system'
file1=open('test.txt','w')
file1.write(test1)
file1.close()

In [4]:
"""
2. Read the contents of the file test.txt into the variable test2.
    Is there a difference between test 1 and test 2?
"""
"""
2.Answer) There is no difference between test1 and test2
"""
file2=open('test.txt','r')
test2= file2.read()
print(test2)
file2.close()

This is a test of the emergency text system

In [42]:
"""
3. Create a CSV file called books.csv by using these lines:
    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992
"""

"""
3.Answer)
"""
csvFile=open('books.csv','w')
text=f"""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""
csvFile.writelines(text)
csvFile.close()

In [3]:
"""
4. Use the sqlite3 module to create a SQLite database called books.db, 
    and a table called books with these fields: title (text), author (text), and year (integer).
"""
"""
4.Answer)
"""
import sqlite3

con=sqlite3.connect('books.db')
cur=con.cursor()
cur.execute("""
            CREATE TABLE BOOKS (title text,author text, year real)""")

In [4]:
"""
5. Read books.csv and insert its data into the book table.
"""
"""
5.Answer)
"""
bookscsv=open('books.csv','r')
for line in bookscsv.readlines():
    title,author,year=line.split(',')
    try:
        cur.execute(f'Insert into BOOKS values{title,author,int(year)}')
    except Exception as e:
        continue

In [6]:
for i in cur.execute('select * From BOOKS'):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960.0)
('Perdido Street Station', 'China Miéville', 2000.0)
('Thud!', 'Terry Pratchett', 2005.0)
('The Spellman Files', 'Lisa Lutz', 2007.0)
('Small Gods', 'Terry Pratchett', 1992.0)

In [7]:
"""
6. Select and print the title column from the book table in alphabetical order.
"""
"""
6.Answer)
"""
for i in cur.execute('select * From BOOKS order by title'):
    print(i)

('Perdido Street Station', 'China Miéville', 2000.0)
('Small Gods', 'Terry Pratchett', 1992.0)
('The Spellman Files', 'Lisa Lutz', 2007.0)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960.0)
('Thud!', 'Terry Pratchett', 2005.0)

In [8]:
"""
7. From the book table, select and print all columns in the order of publication.
"""
"""
7.Answer)
"""
for i in cur.execute('select * From BOOKS order by year'):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960.0)
('Small Gods', 'Terry Pratchett', 1992.0)
('Perdido Street Station', 'China Miéville', 2000.0)
('Thud!', 'Terry Pratchett', 2005.0)
('The Spellman Files', 'Lisa Lutz', 2007.0)

In [2]:
"""
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that 
    you just made in exercise 6.
"""

"""
8.Answer
"""
from sqlalchemy import create_engine, MetaData, Table
dbPath='books.sqllite'
engine = create_engine(f'sqlite://{dbpath}', echo=True)

metadata = MetaData(engine)
moz_bookmarks = Table('BOOKS', metadata, autoload=True)
mapper(Bookmarks, moz_bookmarks)

NameError: name 'dbpath' is not defined